@import "../../styles/partials/mixins";
@import "../../styles/partials/vars";

.videos-list {
  @include desktop {
    margin-left: $gutter-sm;
  }

  &__title {
    color: $color-mercury;
    text-transform: uppercase;
    width: 100%;
  }

  &__item {
    display: flex;
    margin-bottom: $gutter-sm;
    width: 20rem;
    cursor: pointer;
    color: $color-black;
    text-decoration: none;

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-title {
      font-weight: bold;
      flex: 1;
    }

    &-image {
      min-width: 8rem;
      max-width: 0;
      object-fit: cover;
      border-radius: calc($gutter-sm / 4);
      background-color: $color-mercury;
      margin-right: $gutter-sm;
      max-height: 4.5rem;
    }
  }
}
