@import "./mixins";
@import "./vars";

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &__button {
    color: $color-white;
    background-color: $color-blue;

    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    border: 0px;

    height: 2.5rem;
    padding: 0px $gutter-sm;
    border-radius: calc($gutter-sm / 2);

    &:hover {
      background-color: $color-darkblue;
    }

    @include tablet {
      align-self: end;
      min-width: 9.375rem;
      padding: 0px calc($gutter-sm * 2);
    }
  }
}
