@import "./mixins";
@import "./vars";

.icon {
  padding: 0 $gutter-lg;
  background-position-y: center;
  background-position-x: 0.5rem;
  background-repeat: no-repeat;
  padding-left: 2rem;

  &--search {
    background-image: url(../../assets/images/search.svg);
  }

  &--upload {
    background-image: url(../../assets/images/upload.svg);
  }

  &--likes {
    background-image: url(../../assets/images/likes.svg);
  }

  &--views {
    background-image: url(../../assets/images/views.svg);
  }
  &--comment {
    background-image: url(../../assets/images/add_comment.svg);
  }
}

.avatar {
  border-radius: 50%;
  background-color: $color-mercury;

  height: $gutter-md;
  width: $gutter-md;
  margin-right: $gutter-sm;

  @include tablet {
    height: $gutter-lg;
    width: $gutter-lg;
  }
}
