// Colors
$color-black: #323232;
$color-blue: #0095ff;
$color-silver: #afafaf;
$color-white: #ffffff;
$color-darkblack: #000000;
$color-darkblue: #0065ad;
$color-mercury: #e1e1e1;
$color-alabaster: #fafafa;
$color-error: #d22d2d;

// Breakpoints
$desktopMinWidth: 1280px;
$tabletMaxWidth: 1279px;
$tabletMinWidth: 768px;
$mobileMaxWidth: 767px;

// Gutters
$gutter-lg: 2.25rem;
$gutter-md: 1.5rem;
$gutter-sm: 1rem;

// Fonts
$font-family: "Avenir Next";

$fw-regular: 400;
$fw-bold: 700;

$fs-body: 0.875rem;

$fs-h1: 1.5rem;
$fs-h1-lg: 2.063rem;

$fs-h2: 0.813rem;
$fs-h2-lg: 0.875rem;

$fs-h3: 0.75rem;
$fs-h3-lg: 0.75rem;

$fs-label: 0.625rem;
$fs-label-lg: 0.75rem;
