@import "../../styles/partials/mixins";
@import "../../styles/partials/vars";

.topnav {
  .page__section {
    @include tablet {
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    height: 25px;
    width: 120px;

    padding: $gutter-sm;
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: left;
    }
  }

  &__form {
    @include tablet {
      width: auto;
      margin-left: auto;
      flex-direction: row;
      align-items: center;
    }

    .form__field {
      flex-direction: row;
      align-items: center;
      margin: $gutter-sm 0;

      @include tablet {
        margin: $gutter-sm;
      }
    }
  }

  &__avatar {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../assets/images/Mohan-muruge.jpg);
    border-radius: 50%;
    background-color: #e1e1e1;
    height: 2.25rem;
    width: 2.25rem;
    margin-left: 10px;

    display: block;
    @include tablet {
      display: none;
    }

    &--lg {
      display: none;
      @include tablet {
        display: block;
      }
    }
  }

  &__search {
    flex: 1;
  }

  &__button {
    @include tablet {
      align-self: center;
    }
  }
}
