@import "../../styles/partials/mixins";
@import "../../styles/partials/vars";

.page__section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  @include tablet {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-left: 20px;
    width: 100wv;
  }
}
.topnav {
  .topnav__form--flex {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: $gutter-sm;
    @include tablet {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: $gutter-sm $gutter-sm $gutter-sm 0px;

  &__form {
    @include tablet {
      display: flex;
      flex-direction: row;
    }
  }
  &__logo {
    display: flex;
    justify-content: center;
    height: 25px;
    padding-bottom: $gutter-sm;
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: left;
      height: 40px;
    }
  }
  &__avatar1 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../assets/images/Mohan-muruge.jpg);
    border-radius: 50%;
    background-color: #e1e1e1;
    height: 2.25rem;
    width: 2.25rem;
    margin-left: 10px;
    @include tablet {
      display: flex;
      flex-direction: row;
      display: none;
    }
  }
  &__search {
    background-image: url(../../assets/images/search.svg);
    background-position-y: center;
    background-position-x: 0.5rem;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
    border: 1px solid $color-mercury;
    padding: 0rem 0rem 0rem 2rem;
    &:active {
      border: 2px solid $color-blue;
    }
    @include tablet {
      width: 15rem;
      margin-left: 15px;
      margin-right: 15px;
      height: 40px;
    }
  }

  &__button {
    background-image: url(../../assets/images/upload.svg);
    background-position-y: center;
    background-position-x: 0.5rem;
    background-repeat: no-repeat;
    background-color: $color-blue;
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
    border: 0px;
    font-weight: 700;
    font-size: 0.75rem;
    cursor: pointer;
    height: 40px;
    padding: 0px 1rem;
    border-radius: 0.5rem;
    width: 100%;
    @include tablet {
      width: 10rem;
      margin-left: 15px;
      margin-right: 15px;
      height: 40px;
    }
  }
  &__avatar2 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../assets/images/Mohan-muruge.jpg);
    border-radius: 50%;
    background-color: #e1e1e1;
    height: 2.25rem;
    width: 2.25rem;
    margin-left: 10px;
    @include tablet {
      display: flex;
      flex-direction: row;
    }
  }
  @include tablet {
    margin: $gutter-md $gutter-md $gutter-md 0px;
    width: 100wv;
  }
}
