@import "../../styles/partials/mixins";
@import "../../styles/partials/vars";

.video-player {
  width: 100%;
  height: 15rem;
  background: $color-darkblack;

  @include tablet {
    height: 25rem;
  }

  &__container {
    margin: $gutter-md 0;
    @include tablet {
      margin-top: 0;
      margin-bottom: $gutter-md;
    }
  }
}
