@import "./styles/styles.scss";

.app {
  > section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px $gutter-sm;

    @include tablet {
      flex-direction: column;
      flex-wrap: nowrap;
      margin: 0px $gutter-md;
    }

    @include desktop {
      flex-direction: row;
      flex-wrap: nowrap;
      width: 1020px;
      margin: auto !important;
    }
  }
}
